{% extends "layout.html" %}

{% block title %} Date {% endblock title%}


{% block content %}
  <h1>Book appointment</h1>
  <p>Book an appointment with <strong>{{ player }}</strong></p>

  <!-- Dein Calendly-Widget -->
  
  <!-- Calendly Widget -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" async></script>

  <div class="calendly-inline-widget"
       data-url="https://calendly.com/crformoney/30min?hide_gdpr_banner=1"
       style="min-width:320px;height:780px;"></div>


  <!-- Weiter zur Zahlung -->
  <form action="{{ url_for('payment') }}" method="get" style="text-align:center; margin-top:20px;">
    <button type="submit">Go to payment</button>
  </form>
{% endblock content%}